.header {
  width: 100%;
  height: 200px;

  background-color: #000;
}

.header__wrapper {
  max-width: 740px;
  margin: 0 auto;
  padding: 10px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  padding: 6px 30px;

  border-radius: 5px;

  background-color: #262626;
}
